*{
    padding: 0;
    margin: 0;
}
    
/* css for model  */

.model_parent{
    width: 100%;
    height: 100vh;
    /* background-color: rgba(240, 28, 28, 0.747); */
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    overflow: scroll;
}
.model{
    width: 70%;
    min-height: 90vh;
    border-radius: 10px;
    background-color: #B5DEFF;
    display: flex;
    overflow: hidden;
}
.model_img{
    width: 50%;
    min-height: 100%;
    /* background-color: red; */
    display: flex;

    overflow: hidden;
}
.model_details{
    width: 70%;
    font-family: 'Segoe UI';
    /* background-color: green; */
}
.Connections .details>div{
    width: 49%;
}
.detail{
    margin-top: 10px;
}
.details{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.details>div{
    width: 30%;
    margin-bottom: 5px;
}

.detail_title{
   font-size: 20px;
   margin-bottom: 5px;
   color:rgba(43, 41, 41, 0.719);
}
.property{
    font-size: 16px;
    font-weight: normal;
    color: gray;
}
.value{
    font-size: 17px;
    font-weight: bold;
}


/* reusable css */

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Segoe UI';
    background-color: rgb(24, 20, 20);
    color: rgb(87, 83, 83);
}
.container{
    width: 90%;
    padding: 40px 10px;
    /* background-color: gray; */
    display: flex;
    flex-direction: column;  
}
.container>h1{
    margin-top: 20px;
}

::placeholder{
    color: rgb(46, 43, 43);
}

/*** css for filters ***/

.filters{
    padding: 30px 20px;
    background-color: gray;
    margin-top: 20px;
    background-color: rgba(43, 41, 41, 0.719);
    border-radius: 5px;
    display: flex;
    /* flex-direction: column; */
    /* background-color: blue; */
}


.filters_child{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly   ;
    /* background-color: gray; */
}
.filter_name_field{
    height: 40px;
    width:100%;
    border-radius: 10px;
    outline: none;
    border: 1px solid darkgray;
    background-color: rgba(43, 41, 41, 0.719);
    color: white;
    text-indent: 20px;
    font-size: 20px;
}
.filter_feilds{
    margin-bottom: 10px;
    display: flex;
    width: 100%;
    /* background-color: red; */

}
/* .hr{
    border-bottom: 1px solid white;
} */
label{
    margin-top: 5px;
    margin-left: 5px;
    color: rgba(255, 255, 255, 0.418);
}
.filter_feilds>div{
    width: 45%;
    padding: 5px;
}
.filter_field{
    margin: 5px;
    height: 40px;
    width: 100%;
    border-radius: 10px;
    outline: none;
    border: 1px solid rgb(61, 122, 253);
    background-color: rgb(61, 122, 253);
    color: black;
    text-indent: 20px;
    font-size: 18px;
    /* background-color: red; */
}
.btn_filter{
    padding-left: 5px;
    /* background-color: yellow; */
}
.btn{
    margin-left: 5px;
    padding: 10px 15px;
    font-size: 18px;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: rgb(61, 122, 253);
    border: 1px solid rgb(61, 122, 253);
    color: black;
}
.btn:active{
    border: 1px solid darkgray;
    color: darkgray;
    background-color: transparent;
}

/* css for maximum & minimumm */

.filter_range_parent{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.filter_range_child{
    width: 100%;
    display: flex;
    /* background-color: gray; */


}

.filter_range{
    width: 100%;
    /* display: flex; */
    /* justify-content:space-evenly; */
    /* background-color: yellow; */
}
.field_container{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: green; */
    /* background-color: rgb(61, 122, 253); */

}
.filter_range_field{
    margin: 5px;
    height: 40px;
    width: 100%;
    border-radius: 10px;
    outline: none;
    border: 1px solid rgb(61, 122, 253);
    background-color: rgb(61, 122, 253);
    color: black;
    text-indent: 20px;
    font-size: 18px;
    /* background-color: red; */
}


/*** css for cards ***/

.superheroes{
    padding: 30px 0px;
    /* background-color: red; */
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.superhero{
    width: 22%;
    box-shadow: 0 0 12px rgb(243, 236, 236);
    border-radius: 10px;
    overflow: hidden;
    background-color: gray;
    color: rgba(0, 0, 0, 0.753);
    margin-bottom: 40px;
}
.superhero_img{
    width: 100%;
    height: 300px;
    /* background-color: yellow; */
    overflow: hidden;
}
.superhero_img img{
    width: 100%;
}
.supuerhero_details{
    padding: 10px;
    /* background-color: blue; */
}
.superhero_name{
    font-size: 22px;
}

.bodystats{
    padding: 5px 0px;
}
.power_bg{
    width: 100%;
    height: 10px;
    background-color: rgba(61, 56, 56, 0.418);
    margin-top: 5px;
    border-radius: 3px;
}
.power_fg{
    height: 10px;
    background-color: blue;
    border-radius: 3px;
}
.red{
    background-color:red;
}
.orange{
    background-color: orange;
}
.skyblue{
    background-color: skyblue;
}
.yellow{
    background-color: yellow;
}
.green{
    background-color: green;
}
.blue{
    background-color: blue;
}

